.navbar {
  height: 50px;
  opacity: .9;
}
.parallax1 {
  background-image: url('../images/cafe-coffee.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.card {
  width: 18rem;
}
.btn {
  margin: 0px 5px 0px 5px;
  background-color: #B0C4DE;
  border-radius: 15px;
  opacity: .6;
  color: black;
}
.btn:hover {
  background-color: rgb(146, 181, 226);
  border-radius: 25px;
  opacity: .5;
  color: black;
}
.titlePic {
  padding-top: 10px;
  color: white;
  background-color: grey;
  justify-content: center;
  opacity: .75;
  font-family: 'Playfair Display', serif;
}
.subHeader {
  color: white;
  background-color: grey;
  justify-content: center;
  opacity: .75;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
}
.noArticleHeader {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin: 10px;
}
.saveBtn {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 5px;
}
.saveBtn:hover {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 5px;
}
.saveBtn:visited {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 5px;
  color: rgb(169, 164, 187);
}
.deleteBtn {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 5px;
  color: rgb(248, 86, 86);
}
.deleteBtn:hover {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  margin: 5px;
  color: red;
}
.Jumbotron-fluid {
  text-align: center;
}
.footer {
  background-color: grey;
  margin: 10px 0px 0px 0px;
  padding: 5px;
  font-size: 14px;
}
.footerLink {
  color: white;
  font-family: 'Playfair Display', serif;
}
.footerLink:hover {
  color: rgb(173, 214, 233);
  font-family: 'Playfair Display', serif;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Open Sans Condensed', sans-serif; */